# .env
# 把 该文件拷贝为 .env.dev  / .env.prod
APP_ENV=development

API_SECRET_KEY=MXR-MULTI-AGENT-SERVICE
SERVER_HOST=127.0.0.1
SERVER_PORT=8000
BASE_URL=/multi-agent-base

# embedding model config
EMBEDDING_API_KEY=123456
# opanai
# EMBEDDING_API_URL=http://127.0.0.1:8001/v1
# cohere
EMBEDDING_API_URL=http://127.0.0.1:8001
