# .env
# 把 该文件拷贝为 .env.dev  / .env.prod
APP_ENV=development

API_SECRET_KEY=MXR_AI_AGENT_BASE
SERVER_HOST=127.0.0.1
SERVER_PORT=8000
BASE_URL=/multi-agent-base

# if EMBEDDINGS_KEY is null, embeddings will be use local model. https://github.com/QwenLM/Qwen3-Embedding
# EMBEDDING_API_KEY=123456
EMBEDDING_API_URL=text-embedding-v4
EMBEDDING_MODEL=qwen/qwen3-embedding-0.6b
